.footer{
    background-color: var(--main-color);
    position: relative;
    .catImg{
        position: absolute;
        top:-183px;
        left: 0;
    }

    .container{
        // margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .logo {
            // margin: auto 0;
            width:236px;
            height: 60px;
        
          }
    }
    .copyright{
        text-align: center;
    }
}