@font-face {
    font-family: "NotoSans-Medium";
    // src: url(./assets/fonts/NotoSansTC-Medium.ttf) format("trueType");
    src: url(./fonts/NotoSansTC-Medium.ttf) format("trueType");
  }
  
  @font-face {
    font-family: "NotoSans-Regular";
    src: url(./fonts/NotoSansTC-Regular.ttf) format("trueType");
  }
  
  @font-face {
    font-family: "NotoSans-Bold";
    src: url(./fonts/NotoSansTC-Bold.ttf) format("trueType");
  }
  
  @font-face {
    font-family: "NotoSans-Light";
    src: url(./fonts/NotoSansTC-Light.ttf) format("trueType");
  }
  
  @font-face {
    font-family: "Special-Font";
    src: url(./fonts/NotoSansTC-Bold.ttf) format("trueType");
  }